<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="School delete">
  <h2>Delete School</h2>

  <%= form_for(:school, :url => {:action => 'destroy', :id => @school.id}) do |f| %>

    <p>Are you sure you want to permanently delete this school?</p>

    <p class="reference-name"><%= @school.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete School") %>
    </div>

  <% end %>
</div>