<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %> 

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="teachers show">
  <h2>Teacher Subject</h2>

  <table summary="Teacher detail view">
    <tr>
      <th>Name</th>
<<<<<<< HEAD
      <td><%= @teacher.first_name %></td>
=======
      <td><%= @teachers.first_name %></td>
>>>>>>> 1d20f15900fc6aee83554de8b89ef09b3ed1810f
    </tr>
  </table>

</div>
